body{
	background: #F0D5DE;
	background: linear-gradient(0deg, rgba(240, 213, 222, 1) 0%, rgba(255, 255, 255, 1) 24%, rgba(233, 238, 244, 1) 48%, rgba(255, 255, 255, 1) 69%, rgba(210, 222, 234, 1) 100%);
	padding-bottom: 100px;
}
#booklet{
	background: url('../img/imglateral_01.png') no-repeat left top, url('../img/imglateral_02.png') no-repeat right top 30%;
	background-size: 15%;
}
.painel1{
	height: 500px;
	width: 765px;
	background: url('../img/painel1_img.png') no-repeat bottom center;
	position: relative;
}
.painel1 button{
	border: none;
	height: 232px;
	width: 210px;
	position: absolute;
}
.painel1 button span{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.bt-fisico{
	background: url('../img/painel1_bt1.png') no-repeat center;
	left: 18%;
}
.bt-social{
	background: url('../img/painel1_bt2.png') no-repeat center;
	right: 18%;
}
.bt-financeiro{
	background: url('../img/painel1_bt3.png') no-repeat center;
	bottom: 20px;
}
.bt-mental{
	background: url('../img/painel1_bt4.png') no-repeat center;
	bottom: 20px;
	right: 0;
}
.painel1 .check.visitado::after{
	bottom: 40px;
	top: unset;
}

.grafismo.circulo::after{
	background: url('../img/img_circulo.png') no-repeat;
	width: 103px;
	height: 104px;
	bottom: -50px;
	left: -20px;
}
.destaque.estrela::after{
	content: '';
	background: url('../img/img_estrela.png') no-repeat;
	width: 144px;
	height: 142px;
	position: absolute;
	top: -40px;
	right: -40px;
	z-index: 1;
}
.destaque.retangulo::after{
	content: '';
	background: url('../img/img_retangulo.png') no-repeat;
	width: 156px;
	height: 91px;
	position: absolute;
	top: -60px;
	right: -40px;
	z-index: 1;
}

.painel2 button{
	border: none;
	height: 250px;
	width: 210px;
	background-color: transparent;
	position: relative;
}
.painel2 button:hover{box-shadow: unset;}
.painel2 button span{
	display: block;
	padding: 10px 5px;
	font-size: 18px;
	line-height: 22px;
	border-color: var(--cor-secundaria);
	color: var(--cor-secundaria);
	border-radius: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.painel2 button span:hover{
	background: var(--cor-secundaria);
	color: #fff;
}
.bt-laboral{background: url('../img/painel2_bt01.png') no-repeat center;}
.bt-integracao{background: url('../img/painel2_bt2.png') no-repeat center;}
.bt-cadeiras{background: url('../img/painel2_bt3.png') no-repeat center;}
.bt-avaliacao{background: url('../img/painel2_bt4.png') no-repeat center;}
.bt-manutencao{background: url('../img/painel2_bt5.png') no-repeat center;}
.bt-remuneracao{background: url('../img/painel2_bt6.png') no-repeat center;}
.bt-previdencia{background: url('../img/painel2_bt7.png') no-repeat center;}
.bt-nutri{background: url('../img/painel2_bt8.png') no-repeat center;}
.bt-ioga{background: url('../img/painel2_bt9.png') no-repeat center;}
.bt-homeoffice{background: url('../img/painel2_bt10.png') no-repeat center;}
.bt-campanha{background: url('../img/painel2_bt11.png') no-repeat center;}
.bt-palestra{background: url('../img/painel2_bt12.png') no-repeat center;}

.bt-laboral:hover{background: url('../img/painel2_h1.png') no-repeat center;}
.bt-integracao:hover{background: url('../img/painel2_h2.png') no-repeat center;}
.bt-cadeiras:hover{background: url('../img/painel2_h3.png') no-repeat center;}
.bt-avaliacao:hover{background: url('../img/painel2_h4.png') no-repeat center;}
.bt-manutencao:hover{background: url('../img/painel2_h5.png') no-repeat center;}
.bt-remuneracao:hover{background: url('../img/painel2_h6.png') no-repeat center;}
.bt-previdencia:hover{background: url('../img/painel2_h7.png') no-repeat center;}
.bt-nutri:hover{background: url('../img/painel2_h8.png') no-repeat center;}
.bt-ioga:hover{background: url('../img/painel2_h9.png') no-repeat center;}
.bt-homeoffice:hover{background: url('../img/painel2_h10.png') no-repeat center;}
.bt-campanha:hover{background: url('../img/painel2_h11.png') no-repeat center;}
.bt-palestra:hover{background: url('../img/painel2_h12.png') no-repeat center;}

.painel2 .check.visitado::after{
	bottom: 40px;
	top: unset;
}

.painel3{
	background: url('../img/painel3_passos.png') no-repeat center;
	width: 100%;
	max-width: 456px;
	height: 833px;
	position: relative;
}
.painel3 button{
	border: none;
	height: 175px;
	width: 160px;
	background-color: transparent;
	position: absolute;
}
.painel3 button span,
.painel4 button span{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-color: var(--cor-secundaria);
	color: var(--cor-secundaria);
}
.painel3 button span:hover,
.painel3 button:hover span,
.painel4 button span:hover,
.painel4 button:hover span{
	background: var(--cor-secundaria);
	color: #fff;
	box-shadow: unset;
}

.bt-passo1:hover{background: url('../img/painel3_h1.png') no-repeat center top;}
.bt-passo2:hover{background: url('../img/painel3_h2.png') no-repeat center top;}
.bt-passo3:hover{background: url('../img/painel3_h3.png') no-repeat center top;}
.bt-passo4:hover{background: url('../img/painel3_h4.png') no-repeat center top;}
.bt-passo5:hover{background: url('../img/painel3_h5.png') no-repeat center top;}
.bt-passo1{
	left: 105px;
	top: 4px;
}
.bt-passo2{
	right: 8px;
    top: 199px;
}
.bt-passo3{
	left: -2px;
	top: 320px;
}
.bt-passo4{
	right: 8px;
	top: 439px;
}
.bt-passo5{
	right: 192px;
	bottom: 0;
}
.painel3 .check.visitado::after,
.painel4 .check.visitado::after{
	bottom: 40px;
	top: unset;
}

.painel4 button{
	height: 230px;
	width: 210px;
	position: relative;
	border: none;
	background-color: transparent;
	margin: 20px;
}
.painel4 button span{
	padding: 10px;
	font-size: 18px;
	line-height: 22px;
	border-radius: 40px;
}
.bt-proglaboral{background: url('../img/painel4_bt01.png') no-repeat center;}
.bt-proglaboral:hover{background: url('../img/painel4_h1.png') no-repeat center;}
.bt-treinamento{background: url('../img/painel4_bt2.png') no-repeat center;}
.bt-treinamento:hover{background: url('../img/painel4_h2.png') no-repeat center;}
.bt-vacinacao{background: url('../img/painel4_bt3.png') no-repeat center;}
.bt-vacinacao:hover{background: url('../img/painel4_h3.png') no-repeat center;}
.bt-emocional{background: url('../img/painel4_bt4.png') no-repeat center;}
.bt-emocional:hover{background: url('../img/painel4_h4.png') no-repeat center;}
.bt-financeira{background: url('../img/painel4_bt5.png') no-repeat center;}
.bt-financeira:hover{background: url('../img/painel4_h5.png') no-repeat center;}

@media (max-width: 1310px){
	#booklet{
		background: none;
	}
}
@media (max-width: 950px){
	.painel2 button{margin: 10px;}
}
@media (max-width: 780px){
	.painel1{
		height: auto;
		width: 100%;
		position: unset;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 300px;
	}
	.painel1 button{
		position: unset;
		margin: 10px;
	}

}
@media (max-width: 520px){
	.painel3{
		background-size: 300px;
		height: 540px;
	}
	.bt-passo1:hover{background: none;}
	.bt-passo2:hover{background: none;}
	.bt-passo3:hover{background: none;}
	.bt-passo4:hover{background: none;}
	.bt-passo5:hover{background: none;}
	.bt-passo1 {
		left: 80px;
		top: -25px;
	}
	.bt-passo2{top: 95px;}
	.bt-passo3 {
		left: 3px;
		top: 180px;
	}
	.bt-passo4 {
		right: 10px;
		top: 255px;
	}
	.bt-passo5 {
		right: 132px;
		bottom: -25px;
	}
}